<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", client_note_path(@client, note), method: :get %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_client_note_path %>
