<div class="m-6">
  <div>
    <%= link_to "< Back to notes", client_notes_path, class: "text-sinaptia-2 font-medium" %>
  </div>

  <div class="form-tables">
    <h2 class="form-title">New note</h2>

    <%= render "form", note: @note %>

    <br>
  </div>
</div>
