<div class="mb-6">
    <%= form.label :email, class:"form-label" %>
    <%= form.email_field :email, autofocus: true, class:"form-input" %>
</div>

<div class="mb-6">
    <%= form.label :password, class:"form-label" %>
    <%= form.password_field :password, class:"form-input" %>
</div>