<div class="m-6">
  
  <div>
    <%= link_to "< Back to users", users_path, class: "text-sinaptia-2 font-medium" %>
  </div>
  
  <div class="form-tables">
    <h2 class="form-title">Edit user</h2>

    <%= render "form", user: @user %>
  </div>
</div>