<form class="my-4">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
    </div>
    <%= text_field_tag(:search, params[:search], class: "block w-full my-4 p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sinaptia-2 focus:border-sinaptia-2 dark:bg-zinc-500 dark:border-neutral-800 dark:placeholder-gray-300 dark:text-white dark:focus:ring-sinaptia-2 dark:focus:border-sinaptia-2", placeholder: "Search by #{search_fields}..." ) %>
    <%= submit_tag("Search", class: "btn absolute right-2.5 bottom-2.5 text-sm") %>
  </div>
  <% if params[:search] %>
    <p class="text-gray-700 dark:text-white my-4">Search results for: <b><%= params[:search] %></b></p>
  <% end %>
</form>

