<div class="m-6">

  <div>
    <%= link_to "< Back to clients", clients_path, class: "text-sinaptia-2 font-medium" %>
  </div>
  
  <div class="form-tables">
    
    <h2 class="form-title">New client</h2>
    
    <%= render "form", client: @client %>
    
    <br />
    
  </div>
</div>