<div>
  <div class="flex flex-row justify-center items-center p-3 my-4">
    <h2 class="text-center text-gray-700 dark:text-white font-semibold text-3xl">Join a workspace, or create a new one</h2>
  </div>

  <div class="form-tables">
    <%= link_to "New company", new_company_path, class: "btn block my-4" %>
    
    
  </div>

</div>