<div class="m-6">
  <div>
    <%= link_to "< Back to tags", tags_path, class: "text-sinaptia-2 font-medium"  %>
  </div>

  <div class="form-tables">
    <h2 class="form-title">New Tag</h2>

    <%= render "form", tag: @tag %>

    <br>
  </div>
</div>
